html
  head
    title #{title}
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='style.css')
  body
    h1 #{title}
    h4 #{headMessage}
    form(action='/login' method='post').center
      p
        label(aria-label="ID") 🆔 
        input(type='text', name='username')
      p
        label(aria-label="key") 🔑 
        input(type='password', name='password')
      br
      p
        button(type='submit') ☞ #{loginMessage}
      p
        button(type='submit' formaction='/register') ☞ #{registerMessage}
